.banner {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    width: 100%;
}

.banner div {
    max-width: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: #fff;
}

div h1 {
    letter-spacing: 5px;
    font-size: 46px;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    text-align: center;
}

.banner div p {
    color: goldenrod;
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    text-align: center;
}

.container-principal {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    flex: 1 1 150px;

}

.secao-cards {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secao-cards div h2 {
    color: goldenrod;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 30px;
}

@media (max-width: 1024px) {
    .banner div p {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .banner div {
        max-width: 60%;
    }

    .banner div h1 {
        font-size: 36px;
    }

    .banner div p {
        font-size: 26px;
    }

}

@media (max-width: 550px) {

    .banner div h1 {
        font-size: 26px;
    }

    .banner div p {
        font-size: 18px;
    }
}